<div class="container mt-5">
  <h2 class="text-center">Create new user</h2>
  <p>{{ userForm.value | json }}</p>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">First and last name</span>
            </div>
            <input formControlName="firstName" name="firstName" type="text" class="form-control">
            <input formControlName="lastName" name="lastName" type="text" class="form-control">
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input formControlName="email" name="email" type="email" class="form-control">
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Password</span>
            </div>
            <input formControlName="password" name="email" type="password" class="form-control">
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Phone</span>
            </div>
            <input formControlName="phone" name="phone" type="text" class="form-control">
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Introduction</span>
            </div>
            <textarea formControlName="introduction" name="introduction" class="form-control" aria-label="With textarea"></textarea>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Position</span>
            </div>
            <input formControlName="position" name="position" type="text" class="form-control">
        </div>

        <div class="form-group form-check form-inline">
          <label class="form-check-label mr-2"  for="exampleCheck1">Status: </label>
          <input formControlName="active" type="checkbox" class="form-check-input" id="exampleCheck1">
          <span>{{ userForm.get('active').value ? 'Active' : 'Inactive' }}</span>
        </div>

        <button type="submit" class="btn btn-primary">Create and save user</button>
      </form>
</div>