<div class="container mt-5">
  <h2 class="text-center">Edit user</h2>

    <!-- <p>{{ userForm.value | json }}</p> -->
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">First and last name</span>
            </div>
            <input formControlName="firstName" name="firstName" type="text" class="form-control">
            <input formControlName="lastName" name="lastName" type="text" class="form-control">
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input formControlName="email" name="email" type="email" class="form-control">
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Phone</span>
            </div>
            <input formControlName="phone" name="phone" type="text" class="form-control">
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Introduction</span>
            </div>
            <textarea formControlName="introduction" name="introduction" class="form-control" aria-label="With textarea"></textarea>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Position</span>
            </div>
            <input formControlName="position" name="position" type="text" class="form-control">
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Status</span>
            </div>
            <input formControlName="status" name="status" type="number" class="form-control">
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" (click)="deleteUser()" class="btn btn-danger">Delete user</button>
          </div>

        
      </form>
</div>