<div class="text-center">
  <form (ngSubmit)="onSubmit()" class="form-signin">
    <h1 class="h3 font-weight-normal mb-3">Please sign in</h1>
    <input type="email" class="form-control mb-1" #inputEmail placeholder="Email address">
    <input type="password" required class="form-control mb-3" #inputPassword placeholder="Password">
    <div *ngIf="authenticationError" class="alert alert-danger" role="alert" >Username or password invalid</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>