.removeItem {
    text-decoration: none;
}

.list-group {
    overflow-y: scroll;
    max-height: 80vh;
}

.user-container {
    margin: 5px 30px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.user-item {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.8rem;
    text-decoration: none;
    color: black;
}

.user-item:hover {
    background-color: grey;
    color: white;
}

li.disabled {
    pointer-events: none;
}

@media (max-width: 960px) {
    .user-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}

@media (max-width: 720px) {
    .user-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media (max-width: 540px) {
    .user-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}
