<div class="user-container mt-2 ">
  <h1 class="text-center">Users</h1>
  <a routerLink="new" class="btn btn-primary mb-3">
      <i class="fas fa-user-plus"></i>
    Add user
  </a>
  <div class="user-list mb-3">
    <a *ngFor="let user of users" routerLink="{{user.id}}"  class="user-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ getUserName(user) }} - ID: {{ user.id }}</h5>
      </div>
      <p class="mb-1">Email: {{user.email}}</p>
      <p class="mb-1">Phone: {{user.phone || '-'}}</p>
      <small>Created at: {{user.createdAt.date}}</small>
    </a>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>