.removeItem {
    text-decoration: none;
}

.list-group {
    overflow-y: scroll;
    max-height: 80vh;
}

.user-container {
    margin: 5px 30px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.user-item {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.8rem;
    text-decoration: none;
    color: black;
}

.user-item:hover {
    background-color: grey;
    color: white;
}

li.disabled {
    pointer-events: none;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    margin: 200px auto;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 960px) {
    .user-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}

@media (max-width: 720px) {
    .user-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media (max-width: 540px) {
    .user-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}
